language: go
go:
  - 1.12.x
os:
  - linux
  - osx
dist: trusty
script:
  - cd $TRAVIS_BUILD_DIR
  - go vet ./...

    # try building in the c-shared mode
  - go build -o r2pm.so -buildmode=c-shared .

    # build as a Go program
  - go build
  - ./r2pm init
  # - ./r2pm -s r2dec | grep -c Decompiler

