---
branches:
  only:
    - master

language: go

env:
  # Travis clones the repo in $GOPATH so we need to explicitely enable Go modules.
  global: GO111MODULE=on
  matrix:
    - CC=gcc
    - CC=clang

go:
  - 1.12.x

os:
  - linux
  - osx

matrix:
  fast_finish: true
  include:
    # beta now
    - os: windows
      env: CC=gcc
      before_script: choco install make mingw
    # - os: windows
    #   env: CC=clang-cl
    #   before_script: choco install make llvm
  allow_failures:
    - os: windows

script:
  - cd $TRAVIS_BUILD_DIR

  # build and test in the c-shared mode
  - make r2pm_c
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then export LD_LIBRARY_PATH=.; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then mkdir -p ${HOME}/lib; cp libr2pm.so ${HOME}/lib; fi
  - R2PM_DEBUG=1 ./r2pm_c init
  - R2PM_DEBUG=1 ./r2pm_c list-available | grep -q r2dec
  - R2PM_DEBUG=1 ./r2pm_c delete

  # build as a Go program
  # - make test
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./...
  - make r2pm
  - ./r2pm --debug init
  # r2dec must be present in the database
  - ./r2pm --debug search dec | grep -q Decompiler
  - ./r2pm --debug install -f test/test.yaml
  - ./r2pm --debug list installed | grep -q test
  - ./r2pm --debug delete

after_success:
  - bash <(curl -s https://codecov.io/bash)
